customCommands:
  - key: "C"
    context: "files"
    command: "cz c"
    description: "commit with commitizen"
    loadingText: "opening commitizen commit tool"
    output: terminal
  - key: 'N'
    context: 'global'
    # context: 'localBranches'
    description: "Create new branch with different type"
    prompts:
      - type: 'menu'
        title: 'What kind of branch is it?'
        key: 'BranchType'
        options:
          - name: 'feature'
            description: 'a feature branch'
            value: 'feature'
          - name: 'hotfix'
            description: 'a hotfix branch'
            value: 'hotfix'
          - name: 'release'
            description: 'a release branch'
            value: 'release'
      - type: 'input'
        title: 'What is the new branch name?'
        key: 'BranchName'
        initialValue: ''
    command: "git flow {{.Form.BranchType}} start {{.Form.BranchName}}"
    loadingText: 'Creating branch'
